<div class="dashboad-header">
  <i class="fa fa-sign-out fa-2x" (click)="logout()" style="cursor: pointer; float:right; color:red;margin-right: 10px;margin-top: 5px;"></i>
</div>
<div class="container" style="margin-top: 50px;">
  <!-- <div class="col-md-12" style="height:30px;padding-left: 0px;font-weight: bold">
    Dashboard
  </div> -->
  <mat-tab-group>
    <mat-tab label="Find Book">
      <app-book-board>

      </app-book-board>

    </mat-tab>
    <mat-tab label="Manage">
      <app-manage-dashboard></app-manage-dashboard>
    </mat-tab>
  </mat-tab-group>


</div>
