<div style="background-color: white;height: 50px;">
  <i class="fa fa-sign-out fa-2x" (click)="logout()" style="cursor: pointer; float:right; color:red;margin-right: 20px;margin-top: 10px;"></i>
</div>
<div class="container">
  <div class="col-md-12" style="height:30px;padding-left: 0px;font-weight: bold">
    Dashboard
  </div>
  <div class="row">
    <div class="col-md-6" style="padding-top:10px;">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <img src="assets/icons8-books-64.png" height="50px" width="50px" alt="book image">
          </div>
          <mat-card-title>Manage Books</mat-card-title>
        </mat-card-header>

        <mat-card-content style="margin-top:10px;">
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
            very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary">MANAGE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-6" style="padding-top:10px;">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <img src="assets/icons8-conference-64.png" height="50px" width="50px" alt="book image">
          </div>
          <mat-card-title>Manage User</mat-card-title>
        </mat-card-header>
        <mat-card-content style="margin-top:10px;">
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
            very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary">MANAGE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>


</div>
